**

!webapp
!webapp/dist**
!webapp/nginx-conf**

!/bleader/**
!/conf/**
!data/**
!tests/**
!logs
!docker-entrypoint-unified-prod.sh
!server.py
!wsgi.py
!requirements.txt

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
